:root {
    background-color: antiquewhite;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vw;
}

.column {
    float: left;
    width: 50%;
}

.row:after {
    content:"";
    display: table;
    clear: both;
}

#answerInput {
    height: 5vw;
    width: 40vw;
    border-radius: 13px;
    border-width: 3px;
}

.card {
    background-color: azure;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30vw;
    width: 50vw;
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.before {
    font-family: 'Alan Sans';
    padding: 3vw;
}

#beforeWord {
    /* float: left; */
    unicode-bidi: bidi-override;
    direction: rtl;
}

#beforeWord::first-letter {
    color: red;
    font-weight: bold;
}

dialog::backdrop {
    background-color: 0, 0, 0, 0.7;
    backdrop-filter: blur(4px);
}

.firstOpen {
    border-radius: 12px;
    background-color: cornsilk;
}
/* Fonts */

/* alan-sans-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Alan Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/alan-sans-v5-latin-regular.woff2') format('woff2');
}

/* alan-sans-600 - latin */
@font-face {
  font-display: swap;
  font-family: 'Alan Sans';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/alan-sans-v5-latin-600.woff2') format('woff2');
}

/* alan-sans-800 - latin */
@font-face {
  font-display: swap;
  font-family: 'Alan Sans';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/alan-sans-v5-latin-800.woff2') format('woff2');
}